body {
  margin: 0;
  background: var(--surface-ground);
}

.main-div-index {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;

  .upper-ball {
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, rgba(231, 55, 0, 1) 0%, rgba(238, 83, 36, 1) 70%, rgba(231, 55, 0, 0.9) 100%);
    border-bottom: 8px solid black;

    & > img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 350px;
    }
  }

  .downer-ball {
    height: 50%;
    width: 100%;
    background: white;
  }
}


.header {
  background: linear-gradient(180deg, rgba(231, 55, 0, 1) 0%, rgba(238, 83, 36, 1) 70%, rgba(231, 55, 0, 0.9) 100%);
  //background: #e73700;
  //background: #eb4d1d;
  height: 80px;
  width: 100%;
  position: relative;

  .main-logo {
    width: 150px;
  }

  @media screen and (min-width: 576px) {
    & > img {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  & > img {
    position: absolute;
    top: 50%;
  }

  .navigation-back-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
  }

  .team {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    //background-color: white;
    &-button {
      background-color: white;
      max-width: 66px;
      overflow: hidden;

      & > img {
        margin: 0 -7px;
      }
    }
  }
}

.component {
  padding: 2rem;
  height: 82vh;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;

  & .pokedex-list {
    padding: 0 2rem;
  }

  .info-button {
    text-decoration: none;
  }
}


.pokemon-name:first-letter {
  text-transform: uppercase;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0 1rem;
}

@media screen and (max-width: 576px) {
  .component {
    padding: 0;
    height: 70vh;
  }

  .header {
    & > img {
      left: 5%;
      transform: translateX(-5%) translateY(-50%);
    }
  }

  .card {
    padding: 0;

    & .pokedex-list {
      padding: 0;
    }
  }

}

//*{
//  background: yellow;
//}
