.background {
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgb(50 50 50 / 60%);
  z-index: 998;
  top: 0;
}

.modal {
  &.card {
    .p-datatable .p-datatable-tbody > tr > td {
      padding: 0rem 1rem;
    }
  }

}
